* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:sans-serif;
}
.box{
    width: 80px;
    background: white;
    border: 1px solid black;
    padding: 25px;
    margin-top: 35px;
    margin-left: 25px;
}
.toggleBtn {
  
  position:fixed;
  top:40px;
  left:20px;
  z-index:5;
  cursor:pointer;
  width:75px;
  height:75px;
}
.toggleBtn span {
  display:block;
  width:35px;
  height:8px;
  background:#000000;
  margin:6px 25px; 
  transition:all 300ms ease-in-out;
}
.toggleBtn.active span {
  background:white;
}

.toggleBtn.active span:nth-child(1) {
    transform-origin: left;
    transform: rotate(45deg) translateX(4.5px) translateY(3px);
}
.toggleBtn.active span:nth-child(2) {
    transform-origin: left;
    transform: rotate(-45deg) translateX(-10px) translateY(12px);
}

.menu {
  position:absolute;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  font-family: sans-serif;
}
.menu:before,.menu:after {
  content:"";
  position:absolute;
  top:0px;
  width:0vw;
  height:100vh;
  transition:all 400ms ease-in-out;
  background-image: url("../img/test.jpg");

}
.menu:before {
  left:0px;
}
.menu:after {
  right:0px;
}
.menu.active:before,.menu.active:after {
  width:50vw;
}
.menu ul {
  position:absolute;
  top:-100%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  z-index:2;
  transition:all 400ms ease-in-out 400ms;
}
.menu ul li {
  list-style:none;
  font-size:45px;
  margin:5px 0px;
  color:#fff;
}
.menu ul li {
   list-style:none;
  font-size:45px;
  margin:5px 0px;
  color:#fff;
  opacity: 1.0;
  cursor: pointer;
}
.menu.active ul {
  top:50%;
}

/*social media icons */
.social a {
  font-size: 20px;

}
.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  
  color: white;
}
.fa-vimeo{
  
  color: white;
}
.fa-envelope-square{
  
  color: white;
}
.fa-phone-square{
  color: white;
}